@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #01689b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-2xl font-semibold mb-8;
}

a {
  @apply text-primaryColor no-underline hover:underline;
}

p {
  @apply pb-5;
}

.container {
  @apply mx-auto w-full my-10 pl-5 pr-5;
}
